// Primary Colors
$primary-color: #007bff; // Blue

// Neutral Colors
$neutral-light: #f8f9fa; // Light Gray
$neutral-dark: #5840ff; // Dark Gray
$neutral-border: #e7e7e7; // Border Gray

// Accent Colors
$accent-dark: rgb(46, 23, 89); // Dark Purple
$accent-light: rgb(255, 72, 216); // Bright Pink

// Text Colors
$text-color: #333; // Dark Text

// Background Colors
$background-color: #fff; // White Background
