@use "../../assets/styles/partials/variables" as *;

.side-menu {
  position: fixed;
  border: 2px solid $neutral-dark;
  border-radius: 12px;
  left: 1rem;
  bottom: 1rem;
  width: 3rem;
  height: calc(100% - 11rem);
  background-color: rgb(24, 0, 72);
  color: #fff;
  padding: 0.5rem;

  ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
    margin: 0;
    align-items: center;
    gap: 2rem;
    height: 100%;

    li {
      width: 1.5rem;
      color: #fff;
      text-decoration: none;
      font-size: 18px;

      &:hover {
        text-decoration: underline;
        color: rgb(255, 72, 216);
        cursor: pointer;
      }
    }

    li:nth-child(1) {
      margin-top: 0.5rem;
    }

    li:nth-child(4) {
      scale: 0.8;
      position: relative;
      left: -0.1rem;
    }

    li:nth-child(6) {
      scale: 0.9;
    }

    li:last-child {
      margin-top: auto;
    }
  }
}
