@use "../../assets/styles/partials/variables" as *;

.side-menu {
  position: absolute;
  border: 2px solid $neutral-dark;
  border-radius: 12px;
  left: 1rem;
  top: 25%;
  width: 3rem;
  height: 70%;
  background-color: rgb(24, 0, 72);
  color: #fff;
  padding: 0.5rem;

  ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
    margin: 0;
    align-items: center;
    gap: 2rem;

    li {
      a {
        color: #fff;
        text-decoration: none;
        font-size: 18px;

        &:hover {
          text-decoration: underline;
          color: rgb(255, 72, 216);
        }
      }
    }
  }
}
