.dropdown {
  position: relative;
  margin: auto 1rem;

  &__button {
    color: white;
    border: none;
    padding: 0.5rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    font-size: 0.8rem;
    border-radius: 15px;
    width: 5rem;
  }

  &__flag {
    width: 1.5rem;
    margin-right: 0.4rem;
  }

  &__arrow {
    scale: 1.5;
    margin-left: 0.3rem;
  }

  &__list {
    position: absolute;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(68, 26, 194);
    list-style: none;
    padding: 0.2rem;
    border-radius: 15px;
    z-index: 2;
    display: block;
  }

  &__item {
    padding: 0.3rem;
    margin: 0rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    color: rgb(26, 1, 75);
    border-radius: 10px;

    &:hover {
      background-color: rgb(68, 26, 194);
      color: white;
    }
  }
}
